package pages

import (
	"Jordan-Tech-Companies/web/templates/layouts"
	"Jordan-Tech-Companies/web/templates/partials"
	"Jordan-Tech-Companies/internal/models"
)

templ Companies(companies []models.Company) {
	@layouts.Base("Companies") {
        <div class="container-lg">
            <p class="lead mb-4">Browse and discover tech companies operating in Jordan.</p>

            @partials.SearchAndFilter()

            @partials.CompaniesList(companies)

        </div>
    }
}