package pages

import (
    
    "Jordan-Tech-Companies/web/templates/layouts"
    "Jordan-Tech-Companies/internal/models"
)


templ Company(c models.Company){
    @layouts.Base(c.Name) {
        <div class="container-lg">
            
        </div>
    }
}